{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div>
    <form method="post">
        {{ transaction_form | crispy }}
        {% csrf_token %}
        <button type="submit">Add Transaction</button>
    </form>
</div>

<table>
    <tr>
        <th>Amount</th>
        <th>Reference</th>
        <th>Category</th>
        <th>Transaction Date</th>
    </tr>
    {% for transaction in transactions %}
    <tr>
        <td>{{transaction.amount}}</td>
        <td>{{transaction.reference}}</td>
        <td>{{transaction.category.name}}</td>
        <td>{{transaction.transaction_date}}</td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}