{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}
{% load static %}

<div>
    <form id="form-transaction" method="post">
        {{ transaction_form | crispy }}
        {% csrf_token %}
        <button type="submit" id="btn-submit">Add Transaction</button>
    </form>
</div>

<table>
    <tr>
        <th>Amount</th>
        <th>Reference</th>
        <th>Category</th>
        <th>Transaction Date</th>
    </tr>
    {% for transaction in transactions %}
    <tr id = "row-{{transaction.id}}">
        <td id="amount-{{transaction.id}}">{{transaction.amount}}</td>
        <td id="reference{{transaction.id}}">{{transaction.reference}}</td>
        <td id="category-{{transaction.id}}">{{transaction.category.name}}</td>
        <td id="transaction_date-{{transaction.id}}">{{transaction.transaction_date}}</td>
        <td>
            <button class="btn-edit-transaction" transaction_id = "{{transaction.id}}">Edit</button>
        </td>
        <td>
            <a class="btn-delete-transaction" transaction_id = "{{transaction.id}}" href="transaction_delete/{{transaction.id}}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}

{% block extras %}
<script src="{% static 'js/transactions.js' %}" type="text/javascript"></script>
{% endblock %}