{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="content">
    <div class="row">
        <div class="col-12">
            <h3>MoneyTree is a spending tracker for you to use to get on top of your finances</h3>
            <h4>Create an account to get access to all of our features!</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-12 home-img">
            <img src="{% static 'img/monthly-chart.png' %}" class="img-fluid">
        </div>
        <div class="col-lg-4 col-md-12">
            <h4>See how your spending changes over the months!</h4>
            <p>Get access to charts showing how much you've spent each month over the year</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-4 col-md-12" >
            <h4>See what areas you spend the most!</h4>
            <p>
                See a breakdown of your spending across different categories so you 
                can see where your money is going, and what areas you may be able to cut back on
            </p>
        </div>
        <div class="col-lg-8 col-md-12 home-img">
            <img src="{% static 'img/monthly-pie.webp' %}" class="img-fluid">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-8 col-md-12 home-img">
            <img src="{% static 'img/daily-chart.webp' %}" class="img-fluid">
        </div>
        <div class="col-lg-4 col-md-12">
            <h4>See spending every day, for every month</h4>
            <p>See your spending breakdown for every day in any month</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-4 col-md-12">
            <h4>Simply Add your Expenditures</h4>
            <p>
                Simple interface to add your expenses. Just fill in the required fields. 
                You can also update or remove any expenses at any time
            </p>
        </div>
        <div class="col-lg-8 col-md-12 home-img">
            <img>
        </div>
    </div>
</div>




{% endblock %}